In [76]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from itertools import combinations

In [77]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
766,tt1448755,66000000,57777106,Killer Elite,Jason Statham|Clive Owen|Robert De Niro|Domini...,Gary McKendry,May the Best Man Live,"Based on a shocking true story, Killer Elite p...",116,Action|Adventure|Thriller,Current Entertainment|Omnilab Media|Ambience E...,9/23/2011,6.0,2011
1617,tt0391198,10000000,183474602,The Grudge,Sarah Michelle Gellar|Jason Behr|William Mapot...,Takashi Shimizu,It never forgives. It never forgets.,Karen Davis is an American Nurse moves to Toky...,92,Horror|Thriller|Mystery,Ghost House Pictures|Vertigo Entertainment|Sen...,10/22/2004,5.8,2004
556,tt0252501,31000000,24185781,Hearts in Atlantis,Anthony Hopkins|Anton Yelchin|Hope Davis|Mika ...,Scott Hicks,What if one of life's great mysteries moved in...,A widowed mother and her son change when a mys...,101,Drama|Mystery,Castle Rock Entertainment,9/7/2001,6.3,2001
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1320,tt0399201,126000000,162949164,The Island,Ewan McGregor|Scarlett Johansson|Djimon Hounso...,Michael Bay,Your time will come...,Lincoln Six-Echo is a resident of a seemingly ...,136,Action|Thriller|Science Fiction|Adventure,DreamWorks SKG|Warner Bros.|Parkes/MacDonald P...,7/20/2005,6.4,2005

In [78]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [79]:
answers = {} # создадим словарь для ответов

# Добавляем колонку прибыль
data['profit'] = data['revenue'] - data['budget']

# Добавляем колонку release_month, которая показывает месяц релиза фильма. Вытягиваем из колонки release_date.
data['release_month'] = data.release_date.apply(lambda x: x.split("/")[0])

# Добавляем колонку original_title_len, которая показывает количестыо символов в названии фильма (original_title).
data['original_title_len'] = data.original_title.apply(lambda item: len(item))

# Добавляем колонку overview_words_len, которая показывает количестыо слов в описании фильма (overview).
data['overview_words_len'] = data.overview.apply(lambda item: len(item.split()))

# Преобразовываем формат колонки из object в datetime64
data['release_date'] = pd.to_datetime(data['release_date'])


def data_explode(df, col, cnt = False):
    """
    Заводим функцию, которая на входе принимает объект DataFrame df и 'имя' столбца col.
    Каждое поле столбца col это список с разделителем '|'.
    Если cnt = True ("режим value_counts"):
        - возвращает объект series типа value_counts для столбца col.
    Если cnt = False ("режим DataFrame"):
        - возвращает объект DataFrame c "разъединёнными" элементами столбца col
    """
    df[col] = df[col].str.split('|')
    df = df.explode(col)
    if cnt: 
        return df[col].value_counts()
    return df

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [80]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [81]:
# Фильтруем DataFrame по колонке budget, где он равен максимальному значению бюджета. Выводим название фильма.
data[data.budget == data.budget.max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [82]:
#Сортируем DataFrame по колонку бюджета по убыванию. Выводим первый элемент
data.sort_values(by="budget", ascending=False)[['budget', 'original_title']].head(1)

        budget                               original_title
723  380000000  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [83]:
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [84]:
# Фильтруем DataFrame по колонке runtime, где он равен максимальному значению. Выводим название фильма.
data[data.runtime == data.runtime.max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [85]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [86]:
# Фильтруем DataFrame по колонке runtime, где он равен минимальному значению. Выводим название фильма.
data[data.runtime == data.runtime.min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [87]:
# Применяем функцию нахождения среднего (mean) к столбцу runtime. Округляем значение до целого
round(data.runtime.mean())

110

In [88]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [89]:
# Применяем функцию median к столбцу runtime.
data.runtime.median()

107.0

In [90]:
# Применяем метод describe() к DataFrame, нахожим в таблице пересечение строки '50%' и столбца 'runtime'
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,original_title_len,overview_words_len
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,15.037057,52.381154
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,8.552660,26.589348
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000,10.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,9.000000,32.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,13.000000,48.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,18.000000,67.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,83.000000,175.000000

In [91]:
answers['5'] = 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [92]:
# Код получения столбца profit вынесен в Предобработку в начале.
# Фильтруем DataFrame по 'profit', который равен максимуму. Выводим название фильма.
data[data.profit == data.profit.max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [93]:
answers['6'] = '239. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [94]:
# Фильтруем DataFrame по profit, который равен минимуму. Выводим название фильма.
data[data.profit == data.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [95]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [96]:
# Фильтруем DataFrame по услувию revenue>budget. Находим длинну полученного DataFrame.
len(data[data.revenue > data.budget])

1478

In [97]:
# Фильтруем DataFrame по услувию profit>0. 
# Применяем метод nunique() для получения числа уникальных ID фильмов.
data[data.profit > 0]['imdb_id'].nunique()

1478

In [98]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [99]:
#Производим фильтрацию DataFrame по году релиза, равному 2008
# Фильтруем DataFrame по revenue, который равен максимуму. Выводим название фильма.
df_revenue = data.query('release_year == 2008')
df_revenue[df_revenue.revenue == df_revenue.revenue.max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

In [100]:
#фильтруем DataFrame по году релиза и сортируем по убыванию прибыли. выводим название фильма
data[data.release_year == 2008].sort_values(by= 'profit', ascending=False).head(1)['original_title']

599    The Dark Knight
Name: original_title, dtype: object

In [101]:
answers['9'] = '599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [102]:
# Фильтруем DataFrame по году релиза в интервале [2012, 2014]. 
# фильтруем DataFrame по минимальной прибыли, выводим название фильма
d10 = data.query('2012 <= release_year <= 2014')
d10[d10.profit == d10.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [103]:
# Фильтруем DataFrame по году релиза в интервале [2012, 2014] методом query. Сортируем по возрастанию, выводим название.
data.query('2012 <=release_year <=2014').sort_values(by= 'profit', ascending=True).head(1)['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [104]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [105]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, описание которой в блоке "предобработка". Выводим 0-ую строку результатов value_counts.
df_11 = data.copy()
df_11 = data_explode(df_11, 'genres', cnt = True)
df_11.index[0]

'Drama'

In [106]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [107]:
# Создаем DataFrame из изначального data, отфильтруем по profit.
# К каждой строке жанры применяем метод split по '|'. Формируем список сумм всех значений жанров. Создаем Series из этих 
# списков и применим к ним метод value_counts(), выводим 0-ую строку, т.к. она чаще повторяется
df_12 = data[data.profit>0]
pd.Series(df_12.genres.str.split('|').sum()).value_counts().index[0]

'Drama'

In [108]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [109]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, которая вернет DataFrame с данными для каждого режиссера по одиночке. 
# К DataFrame применяем метод группировки по режиссеру, суммируем сборы. Сортируем по убыванию, выводим первое имя.
df_13 = data.copy()
df_13 = data_explode(df_13, 'director', cnt = False)
df_13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

In [110]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [111]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, которая вернет DataFrame с данными для каждого режиссера по одиночке. 
# Фильтруем DataFrame по жанру, указав условие, что в названии жанра содержится "Action".
# К результату  применим метод группировки по режиссеру и подсчитаем количество фильмов. Сортируем по убыванию, 
# выводим первое имя.
df_14 = data.copy()
df_14 = data_explode(df_14, 'director', cnt = False)
df_14[df_14.genres.str.contains("Action", na=False)].groupby(['director'])['imdb_id'].count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

In [112]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [113]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, которая вернет DataFrame с данными для каждого актера по одиночке. 
# Фильтруем DataFrame по году релиза и группируем по актеру и сборам, сортируем по убыванию, выводим первое имя
df_15 = data.copy()
df_15 = data_explode(df_15, 'cast', cnt = False)
df_15[df_15.release_year == 2012].groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

In [114]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [115]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, которая вернет value_counts с данными для каждого
# актера по отдельности. Выводим первое имя.
df_16 = data.copy()
df_16 = df_16[df_16.budget > df_16.budget.mean()]
data_explode(df_16, 'cast', cnt = True).index[0]

'Matt Damon'

In [116]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [117]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, которая вернет DataFrame с данными для каждого жанра по одиночке. 
# Фильтруем DataFrame по актеру, указав условие, что в имени содержится "Nicolas".
# К результату  применим метод группировки по жанру и подсчитаем количество фильмов. Сортируем по убыванию, 
# выводим первое имя.
df_17 = data.copy()
df_17 = data_explode(df_17, 'genres', cnt = False)
df_17[df_17.cast.str.contains("Nicolas", na=False)].groupby(['genres'])['imdb_id'].count().sort_values(ascending=False).index[0]

'Action'

In [118]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [119]:
# Фильтруем DataFrame по названию киностудии
# Фильтруем результат по минимальной прибыли. Выводим название
df_18 = data[data.production_companies.str.contains('Paramount Pictures')]
df_18[df_18.profit == df_18.profit.min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [120]:
# Копируем в новую переменную исходный DataFrame.
# Применяем функцию data_explode, которая вернет DataFrame с данными для каждой киностудии по одиночке.
# Далее находим все упоминания Paramount Pictures, сортируем по возрастанию прибыльности. Выводим название нулевого элемента.
df_18 = data.copy()
df_18 = data_explode(data_18, 'production_companies', cnt = False)
df_18[data_18.production_companies.str.contains("Paramount Pictures", na=False)].sort_values(
    ['profit'],ascending=True)['original_title'].iloc[0]

'K-19: The Widowmaker'

In [121]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [133]:
#Создаем pivot_table по кассовым сборам и году выпуска, выводим суммарные значения по каждому году
# сортируем по кассовым сборам по убыванию, выводим первый элемент
df_19= data.pivot_table(values=['revenue'],
index=['release_year'],
aggfunc='sum').sort_values(by = 'revenue', ascending = False)

df_19.index[0]

2015

In [123]:
# Группируем data по году выпуска фильма, значениями выступают кассовые сборы (сумма).
# Сортируем по убыванию, выводим нулевой элемент.
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

In [124]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [125]:
# Фильтруем DataFrame по киностудии, указав условие, что в имени содержится "Warner Bros".
# Группируем по году релиза и суммируем прибыль, сортируем по умолчанию и выводим первый элемент
data[data.production_companies.str.contains('Warner Bros')].groupby(
    ['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

In [163]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [164]:
# Используем новую колонку release_monyth созданную в предобработке. Группируем по месяцу, выводим количество уникальных фильмов.
# Сортируем по убыванию, выводим нулевой элемент.
data.groupby(['release_month'])['imdb_id'].nunique().sort_values(ascending=False).index[0]

'9'

In [165]:
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [166]:
# Используем новую колонку release_monyth созданную в предобработке.Группируем по месяцу, выводим количество уникальных фильмов.
# Суммируем количество фильмов для 6, 7, 8 месяцев, использую метод .loc.
df_22 = data.groupby(['release_month'])['imdb_id'].nunique()
df_22.loc['6']+df_22.loc['7']+df_22.loc['8']

450

In [167]:
# Фильтруем data по месяцам, использую функцию month. Находим длинну отфильтрованного датафрейма.
len(data[data.release_date.dt.month.isin([6, 7, 8])])

450

In [168]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [169]:
# Используем метод explode для преобразования списка режисссеров.
# Создаем pivot_table для месяца выхода фильма по колонке месяц выпуска, значения - число фильмов, строки - режессеры, 
# выводим суммарные значения для всех месяцев (margins = True), сортируем по значению All, выводим первую строку, содержащую имя
# режиссера index[1].
df_23 = data.copy()
df_23 = data_explode(df_23, 'director', cnt = False)
df_23_pivot = df_23.loc[df_23['release_month'].isin(['12','1','2'])].pivot_table(columns = 'release_month', 
                                index = 'director', 
                                values = 'imdb_id', 
                                aggfunc = 'count', margins=True).sort_values(
                                                                by = 'All', ascending=False)
df_23_pivot.index[1]

'Peter Jackson'

In [170]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [187]:
# Используем новую колонку original_title_len. 
# Применяем функцию data_explode, которая вернет DataFrame с данными для каждой киностудии по одиночке.
# Группируем по студиям и длине названия, использовав функцию mean. Сортируем значения по убыванию, выводим нулевой элемент.
df_24 = data.copy()
df_24 = data_explode(df_24, 'production_companies', cnt = False)
df_24.groupby(['production_companies'])['original_title_len'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

In [188]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [189]:
# Используем новую колонку original_title_len. 
# Применяем функцию data_explode, которая вернет DataFrame с данными для каждой киностудии по одиночке.
# Группируем по студиям и длине названия, использовав функцию mean. Сортируем значения по убыванию, выводим нулевой элемент.
df_25 = data.copy()
df_25 = data_explode(df_25, 'production_companies', cnt = False)
df_25.groupby(['production_companies'])['overview_words_len'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

In [190]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [175]:
# Группируем данные по рейтингу и выводим их в переменную vote_data
# выводим на экран таблицу vote_data, ищем данные с максимальным интервалом рейтинга
# выводим на экран фильмы с рйтингом входяще в этот интервал с индексом 7, сортируем по убыванию и ищем подходящие ответы
vote_data = data['vote_average'].value_counts(bins=10)
display(vote_data)
data.loc[(data['vote_average'] > vote_data.index[7].left) & (data['vote_average'] <= vote_data.index[7].right)].sort_values(
    by = 'vote_average', ascending = False).head(10)

(5.7, 6.18]      481
(6.18, 6.66]     469
(6.66, 7.14]     277
(5.22, 5.7]      261
(4.74, 5.22]     153
(7.14, 7.62]     144
(4.26, 4.74]      42
(7.62, 8.1]       41
(3.78, 4.26]      15
(3.294, 3.78]      6
Name: vote_average, dtype: int64

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_words_len
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,15,67
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11,12,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11,18,46
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10,4,49
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,10,7,78
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,7,23,28
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,10,9,30
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,2,24,66
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10,16,61

In [176]:
# Добавляем переменную quntile, которая показывает значение квантиля для рейтингов, выше 99%.
# Далее по данному значению фильруем dataframe data.
quantile = data.vote_average.quantile(q=0.99)
data[data.vote_average > quantile].sort_values(by = 'vote_average', ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_words_len
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,15,67
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10,4,49
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11,12,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11,18,46
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,7,23,28
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,10,9,30
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,2,24,66
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,7,9,44
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,9,11,39
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,12,45,45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,12,23,29
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,10,16,61
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,10,7,78

In [177]:
#Фильтруем данные по рейтингу , выводим таблицу и ищем правильные варианты
data[(data.vote_average) >= (data.vote_average.max()*0.98)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,original_title_len,overview_words_len
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,6,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,10,4,49
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,11,12,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,11,18,46
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,15,67

In [178]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [179]:
# Создаем переменную pairs, которой назначаем словарь из collections - counter, 
#с помощью которого можно посчитать кол-во неизменяемых объектов
# Создаем копию изначального dataframe
# Конвертируем значение всех данных в колонке актеров в списки актёров
pairs = collections.Counter()
df_27 = data.copy()
df_27['cast'] = df_27['cast'].str.split('|')

In [180]:
# Цикл, проходящий по всему DataFrame от 0 до конца data
for i in range(0,len(data)):
    # Переменной stars присваиваем список актеров строки
    stars = df_27.cast[i]
    # Из модуля itertools используем combinations, который находит комбинации длиной 2 из списка актёров
    # без повторяющихся элементов.
    for pairs_stars in list(combinations(stars, 2)):
        # если пара найденных актёров в словаре отсутсвует, то создаем значение в словаре и присваиваем счётчик "1"
        pairs_stars_count = []
        pairs_stars_count.append(pairs_stars[1]) 
        pairs_stars_count.append(pairs_stars[0])
        if pairs_stars not in pairs:
            if tuple(pairs_stars_count) not in pairs:
                pairs[pairs_stars] = 1
            else:
                pairs[tuple(pairs_stars_count)] += 1
        # если пара актёров ранее уже встречалась, то увеличиваем счетчик на единицу.
        else:
            pairs[pairs_stars] += 1

# Из словаря выводим три наиболее встречающихся комбинаций актёров.
pairs.most_common(10)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Vin Diesel', 'Paul Walker'), 5),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5)]

In [181]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

ВАРИАНТ 2

# Submission

In [191]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [192]:
# и убедиться что ни чего не пропустил)
len(answers)

27